{% extends "hello/main.html" %}

{% block title %}
    main html
{% endblock title %}

{% block content %}
    <div class="feautures">
        <h1>hello world</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, amet dolores aperiam excepturi laudantium est impedit dolor maiores quisquam inventore unde odio iusto aspernatur. Voluptatem aut numquam placeat dolor necessitatibus!</p>
        <button class="btn btn-warning" onclick="incrementCount()">click me</button>

        <p>count: <span id="count">0</span></p>

    </div>
{% endblock content %}

